.card {
	position: relative;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
	cursor: pointer;
}

.outercontainer {
	background-color: #fff;
	margin-bottom: 24px
}

.imageStyle {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.containerRow {
	min-height: 200px;
	display: flex;
	flex-direction: row;
}

.containerImage {
	width: 258px;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	border-radius: 6px 0px 0px 6px;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.btnFavorite {
	color: #fa5252 !important;
}

.containerCard {
	display: flex;
	flex-direction: column;
	padding: 16px;
	flex: 1;
	/* width: 65%; */
	/* height: 200px; */
	border: 1px solid #ced4da;
	border-left: none;
	border-radius: 0px 6px 6px 0px;
}

.containerHeader {
	display: flex;
	justify-content: space-between;
}

.cardBody {
	display: flex;
	flex-direction: column;
	margin-top: 14px;
}

.profilePicture {
	width: auto;
	height: 34px;
	border-radius: 4px;
	background-color: #f8f9fa;
	width: 34px;
	object-fit: cover;
	z-index: 2;
}

.containerHeaderName {
	display: flex;
	align-items: center;
}

.cardTitle {
	font-size: 18px;
	line-height: 18px;
	color: #3a3b3c;
	margin-bottom: 0;
}

.ph0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.mh0 {
	margin-left: 0;
	margin-right: 0;
}

.carouselContainer,
.carouselContainer>ul,
.carouselContainer>ul>li,
.carouselContainer>ul>li>div {
	height: 100%;
}

.arrowIcon {
	color: #868e96;
	font-size: 14;
}

.containerArrowIcon {
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 32px !important;
	min-height: 32px !important;
	z-index: 2 !important;
}

.dots {
	height: auto !important;
	margin: 0px 24px 15.7px 24px !important;
	flex-wrap: wrap;
}

.ratingSession {
	display: flex;
	align-items: center;
}

.ratingSession p.rating-small {
	margin: 0;
	margin-left: 5px;
	font-size: 9px;
	color: #868e96;
}

.assets {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.assets p.assets-label {
	font-size: 14px;
	color: #35383c;
	font-weight: 600;
	margin: 0;
}

.assets p.assets-value {
	margin: 0;
	margin-left: 10px;
	font-size: 14px;
	color: #35383c;
}

@media (max-width: 768px) {
	.containerRow {
		flex-direction: column;
	}

	.containerImage {
		border-radius: 6px 6px 0 0;
		height: 280px;
		width: 100%;
	}

	.condoValue {
		display: block;
		margin-left: 0;
	}

	.cardBody {
		margin-top: 24px;
	}

	.containerCard {
		border-radius: 0px 0px 6px 6px;
		border: 1px solid #ced4da;
		border-top: none;
		padding: 0 24px 64px 24px;
	}

	.profilePicture {
		width: 66px;
		height: 66px;
		margin-top: -33px;
		border: 2px solid #fff;
		border-radius: 4px;
	}

	.containerTrashIcon {
		position: relative;
		left: calc(4% + 1px);
		margin: 0;
		cursor: pointer;
		background-color: #fff;
		border-radius: 4px;
	}

	.containerHeartIcon {
		position: relative;
		right: calc(4% + 1px);
	}

	.dots {
		margin: 0px 24px 15px 24px !important;
	}
}